@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* #################### html element styling ################ */

body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none ;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing:  0.15em;
}

 h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
 }
.nav-content{
    margin-top: 4rem;
}
/* ################### Utility Classes ################### */
.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}
.btn-primary:hover{
    background: #ddd;
}
.btn-secondary{
    background: #fff;
    color: #e63946;
    border-radius: 1.5em;
    border: 2px solid #e63946;
}
.btn-secondary:hover{
    background: #fcf3f2;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
font-size: 2.2rem;
}
.text-red{
    color: #e63946  ;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: #555;
}
.bg-dark{
    background-color: #263238;
}
/* ##################### header content styling ################# */
.header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    
}
.header-content h1{
text-transform: uppercase;
font-weight: 700;
padding-top: 6rem;
}
.header-content p{
    text-transform: uppercase;
}
/* ########################### header styling ######################### */
.header {
    height: 95vh;
    /* position: relative; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.nav-bar{
    padding: 1rem;
    height: 9rem;
    
}
 .nav-bar .logo{
    float: left;
}
.nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.nav-bar .nav-items{
    float: right;
    margin-top: 1rem;
}

.nav-bar a:link,
.nav-bar a:visited{
    color: #f4f4f4;
}
.nav-bar a:hover{
    border-bottom: 1px solid #fff;
}
.nav-bar a{
    padding-bottom: 0.5rem;
}
.clear {
    clear: both;
}
  /* ################################### showcase section styling #################################### */
  .showcase{
    background: #ddd;
    padding: 10rem 0;
  }
  .row{
    height: 350px;  
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.418);
  }
  .row1{
    margin-bottom: 10rem;
  }
  .row1 .img-box , .row2 .text-box{
    float: left;
    width: 50%;
  }
  .row2 .img-box , .row1 .text-box{
    float: right;
    width: 50%;
  }
  .row .img-box{
    height: 100%;
  }
  .row .text-box{
    padding: 3rem;
  }
  .row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .row::after{
    content: '';
    display: block;
    clear: both;
  }
  /* ################################## Feature Section Styling ############################ */
  .features{
    padding: 10rem 0;
  }
.box-wrapper{
   box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.52);
}
.box{
    width: 33.33333%;
    float: left;
    padding: 2rem;
    text-align: center;
}
.box1 , .box3{
    background-color: #263238;
    color: #fff;
}
.box2{
    background: linear-gradient(25deg,#d64c7f,#ee4578 50%);
    color: #fff;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
/* ##################### footer styling ##################### */
.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.links i{
    margin: 2rem;
}


/* Media Query for Tablets and Smaller Desktops (max-width: 1200px) */
@media (max-width: 1200px) {
    .header-content h1 {
        font-size: 3rem;
        padding-top: 4rem;
    }

    .header-content p {
        font-size: 1.8rem;
    }

    .lg-heading {
        font-size: 3rem;
    }

    .md-heading {
        font-size: 2rem;
    }

    .row {
        height: auto;
        margin-bottom: 6rem;
    }

    .row1 .img-box, .row2 .img-box, .row1 .text-box, .row2 .text-box {
        width: 100%;
        float: none;
    }

    .row .text-box {
        padding: 2rem;
    }

    .box {
        width: 100%;
        margin-bottom: 2rem;
    }

    .features {
        padding: 7rem 0;
    }

    .footer {
        padding: 3rem;
    }
}

/* Media Query for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    html {
        font-size: 55%; /* Scale down base font size */
    }

    .header {
        height: 80vh;
    }

    .nav-bar {
        height: auto;
        padding: 1rem 0;
    }

    .nav-bar .logo {
        font-size: 3rem;
    }

    .nav-items {
        display: block;
        text-align: center;
    }

    .nav-item {
        padding: 0.5rem;
        margin: 1rem 0;
    }

    .header-content h1 {
        font-size: 2.5rem;
    }

    .btn {
        padding: 0.6em 1.2em;
        font-size: 1.4rem;
    }

    .row {
        margin-bottom: 3rem;
    }

    .box {
        width: 100%;
        margin-bottom: 3rem;
    }

    .box-wrapper {
        box-shadow: none;
    }

    .links i {
        margin: 1rem;
        font-size: 3rem;
    }
}
/* ########### media queries ################# */

@media (max-width: 480px) {
    html {
        font-size: 50%; 
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content p {
        font-size: 1.4rem;
    }

    .btn {
        padding: 0.4em 1rem;
    }

    .lg-heading {
        font-size: 2.5rem;
    }

    .md-heading {
        font-size: 1.6rem;
    }

    .footer {
        font-size: 1.4rem;
        padding: 2rem;
    }

    .footer p {
        font-size: 1.2rem;
    }

    .links i {
        font-size: 2.5rem;
    }
}

/* ################### About Page Styling ################### */
.about{
    padding: 5rem 0;
}
.about-heading::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}
/* ######################### About Wrapper Styling #################### */
.about-wrapper .left{
float: left;
width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}
/* ################### Count Item #################### */
.count{
    margin-top: 3rem;
}
.counts-item{
    float: left;
    width: 25%;
    text-align: center;
}
.counts-item::after{
    content: '';
    display: block;
    clear: both;
}
.counts-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}
.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}


/* Media Query for Tablets and Smaller Desktops (max-width: 1200px) */
@media (max-width: 1200px) {
    .lg-heading {
        font-size: 3rem;
    }

    .about-wrapper .left, .about-wrapper .right {
        width: 100%;
        float: none;
        text-align: center;
    }

    .counts-item {
        width: 50%;
    }

    .counts-item span {
        font-size: 2.5rem;
    }

    .counts-item p {
        font-size: 1.6rem;
    }

    .about-heading::after {
        width: 50%;
    }
}

/* Media Query for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .lg-heading {
        font-size: 2.5rem;
    }

    .about-heading::after {
        width: 70%;
    }

    .count {
        margin-top: 2rem;
    }

    .counts-item {
        width: 100%;
        margin-bottom: 2rem;
    }

    .counts-item span {
        font-size: 2rem;
    }

    .counts-item p {
        font-size: 1.4rem;
    }

    .about-wrapper li {
        font-size: 1.6rem;
    }
}

/* Media Query for Small Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .lg-heading {
        font-size: 2rem;
    }

    .about-heading::after {
        width: 90%;
    }

    .counts-item span {
        font-size: 1.8rem;
    }

    .counts-item p {
        font-size: 1.2rem;
    }

    .about-wrapper {
        margin-top: 1.5rem;
    }

    .about-wrapper li {
        font-size: 1.4rem;
    }
}

/* ################### contact page styling ################# */
  .contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
  }
  .form-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 
 .company{
    margin-bottom: 40rem;
 }
  .form-wrapper::after{
    content: '';
    display: block;
    clear: both;
  }
  .form-wrapper.company{
    background: #fff;
    height: 760px;
    float: left;
    width: 49%;
    padding: 1rem;
  }
  .form-wrapper .company i{
    display: inline-block;
    margin-right: 1rem;
  }
  .form-wrapper .company h2{
    display: inline-block;
    text-transform: uppercase;
  }
  .form-wrapper .address-group{
    margin-bottom: 3rem;
  }
  .form-wrapper .company img{
    max-width: 50%;
    min-height: 30rem;
    object-fit: cover;
    object-position: right;
  }
  .form{
    padding: 20px;
  }
  .form-wrapper.form{
    background: #fff;
    width: 100%;
  }
.form-wrapper .form{
    margin-bottom: 58rem;
    height: 760px;
    font-size: 1.6rem;
    background: #fff;
}
.form-wrapper .form label{
    display: block;
}
.form-wrapper .form input{
padding: 0.5rem;
width: 100%;
}
.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}
.form-wrapper .form label::after{
    content: '';
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    padding: 5px 5px;
    margin: 0 auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
/* Media Query for Tablets and Smaller Desktops (max-width: 1200px) */
@media (max-width: 1200px) {
    .form-wrapper {
        flex-direction: column;
    }

    .company, 
    .form {
        width: 100%;
        float: none;
        height: auto;
    }

    .form-wrapper .company img {
        max-width: 70%;
        margin-bottom: 2rem;
    }

    .company {
        margin-bottom: 4rem;
    }
}

/* Media Query for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .company img {
        max-width: 100%;
    }

    .form-wrapper .company i {
        font-size: 2rem;
    }

    .form-wrapper .company h2 {
        font-size: 1.8rem;
    }

    .form-wrapper .form {
        font-size: 1.4rem;
    }

    .form-wrapper .form input, 
    .form-wrapper .form textarea {
        font-size: 1.4rem;
    }

    .form-btn {
        padding: 0.4em 2.5em;
        font-size: 1.6rem;
    }
}

/* Media Query for Small Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .company img {
        max-width: 100%;
    }

    .form-wrapper .company i {
        font-size: 1.8rem;
    }

    .form-wrapper .company h2 {
        font-size: 1.6rem;
    }

    .form-wrapper .form {
        font-size: 1.2rem;
    }

    .form-wrapper .form input,
    .form-wrapper .form textarea {
        font-size: 1.2rem;
    }

    .form-btn {
        padding: 0.4em 2em;
        font-size: 1.4rem;
    }
}
/* ############ JS styling ################### */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #e63946;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.scroll-to-top.visible {
    display: block;
}

.scroll-to-top:hover {
    background-color: #c03030;
}
